{% extends './layout.html' %}

{% block title %} {{ data.titulo }} {% endblock %}

{% block body %}
    <form action="post">
        <div class="index">
            <p>Somos "Hoy No Se Cocina" un proyecto que busca mostrar la potencia del análisis de datos.</p>
            <p>
                <strong>¿Qué podemos ofrecerte?</strong></p>
            <p></p>
                Te gustan los datos, aquí te mostramos una forma divertida de presentar los datos:
            <a href= "{{ url_for('analisis') }}">Estadisticas de nuestra fuente de información</a>
            <p></p>
            Prefieres ver una aplicación real del análisis de información:
            <a href= "{{ url_for('restaurante') }}">Busca el restaurante que se acomode a ti</a>
            </ol>        
        </div>   
    </form>
{% endblock %}


